#root {
  max-width: 2000px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.cs-message--outgoing,
.cs-message__content {
  border-radius: 0.7rem !important;
}

.model-select {
  padding: 10px !important;
  width: 100%;
}
@media screen and (min-width: 600px) {
  .model-select {
    width: 400px;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media screen and (min-width: 2000px) {
  .container {
    width: 2000px;
  }
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.pdf-thumbnail {
  width: 50px;
  height: 50px;
  /* border: 2px solid #ccc; */
  /* border-radius: 5px; */
  margin-right: 10px;
  display: flex;
}

.pdf-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pdf-details {
  display: flex;
  flex-direction: column;
}

.pdf-title {
  font-weight: bold;
  margin: 0;
}

.pdf-size {
  margin: 0;
  color: #666;
}

.charHistoryheading {
  padding-top: 6.5px;
  padding-bottom: 6.5px;
  text-align: center;
}

@media screen and (max-width: 580px) {
  .charHistoryheading {
    font-size: medium;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.chatHeading {
  padding-left: 20px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.chatHeading:hover {
  background-color: azure;
}

.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  width: 300px;
}

/* toggle needs to change it  */
/* ToggleButton.css */

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 50px;
  margin-right: 20px;
}

.toggle-button {
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-button.active {
  background-color: #4caf50;
}

.toggle-circle {
  width: 26px;
  height: 26px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s;
}

.toggle-button.active .toggle-circle {
  transform: translateX(30px);
}

/* Customize the scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: azure; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}

/* Customize the scrollbar for Firefox */
html {
  scrollbar-width: thin; /* Scrollbar width */
  scrollbar-color: azure #f1f1f1; /* Thumb color and track color */
}

.css-zza0ns-MuiBadge-badge {
  background-color: #c6e3fa !important;
  color: black !important;
}
